#mydiv{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    padding: 50px 0px;
}

button:disabled{
    background-color: #87b5fa !important;
    cursor: not-allowed;
}

.btnst
{
    border: 1px solid transparent;
    color: #f8f8f8 ;
    border-radius: 3px;
    padding: 11px 9px !important 
}

#styleimage{
    max-width: 100%;
    height: auto;
}


/* Comp2 */
.mygreen{
    color:#198754 !important;
}
.myhfour{
    padding: 20px;
    background-color: #d6d2d2;
    font-size: 25px;
}